*{
    margin: 0;
}



/** Header **/
.headerContainer    {
background-color: #1F2937;
color: white;
margin: 0 auto;
font-family: roboto;
width: 55%;
height: 35vh;
border: none;
}

.navigationContainer {
 display: flex;
 justify-content: space-around;

}

.logo   {
    flex: 1;
    text-align: center;
}

/** subheadContainer **/
.subheadContainer{
    display: flex;
    flex-direction: row;
    height: 30vh;
    justify-content: space-around;
}
.subItem{
    align-self: center;
    text-align: justify;
    width: 35%;
    gap: 2;
}
.awesome{
    font-size: 48px;
    font-weight: 900;
}
.signupBtn{
 background-color: #3882F6;
 color: white;
 width: 25%;
}
.imgPlaceholder{
    align-self: center;
    border: solid;
    background-color: gray;
    color: white;
    height: 15vh;
    width: 30%;
    text-align: center;
}
.placeholder{
    margin-top: 4rem;
}

/** Random Information **/
.randomInfo{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.randomContainer{
    display: flex;
    width: 40%;
    height: 20vh;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.randomBox{
   border: solid;
   border-color: #3882F6;
   height: 12vh;
   width: 17%;
   align-self: center;
   margin: 0 auto;
}
.randomText{
    display: flex;
    height: 11vh;
    width: 98.9%;
    align-self: center;
    margin: 0 auto;
    
}

/** Quote **/
.quote{
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937; 
    width: 55%;
    margin: 0 auto;
    padding: 1rem;
}

/** Call To Action **/